<h2>{{ episode.title }}</h2>
<div class="episode preview">
 {{ episode.image.tag_for_thumb}}
 <p>
 {{ episode.description|textilize|strip_tags|truncate:400 }}
 </p>
 <p><a href="{{ episode.url_for }}"> Lire la suite : {{ episode.title }}</a><p>
</div>

