<div id="program">
 {% unless show.tag.jeudi == empty %}
  <ul class="day">
  <h3>Jeudi 5 ao没t</h3>
   {% for episode in show.tag.jeudi reversed %}
    <li><span>{{ episode.broadcasted_at|date:'%H:%M' }}</span><a href="{{ episode.url_for }}">{{ episode.title | truncate: 30 }}</a></li> 
   {% endfor %}
  </ul>
  <ul class="day">
  <h3>Vendredi 6 ao没t</h3>
   {% for episode in show.tag.vendredi reversed %}
    <li><span>{{ episode.broadcasted_at|date:'%H:%M' }}</span><a href="{{ episode.url_for }}">{{ episode.title | truncate: 30 }}</a></li> 
   {% endfor %}
  </ul>
  <ul class="day">
  <h3>Samedi 7 ao没t</h3>
   {% for episode in show.tag.samedi reversed %}
    <li><span>{{ episode.broadcasted_at|date:'%H:%M' }}</span><a href="{{ episode.url_for }}">{{ episode.title | truncate: 30 }}</a></li> 
   {% endfor %}
  </ul>
  <ul class="day">
  <h3>Dimanche 8 ao没t</h3>
   {% for episode in show.tag.dimanche reversed %}
    <li><span>{{ episode.broadcasted_at|date:'%H:%M' }}</span><a href="{{ episode.url_for }}">{{ episode.title | truncate: 30 }}</a></li> 
   {% endfor %}
  </ul>
 {% endunless %}
</div>