<html dir="ltr">
 <head>
   {% include 're2010/head' %}
   <title>Ecouter {{content.episode.title}} - Radio Esperanzah! 2010</title>
 </head>
 <body class="content">
   <div id="content">
     <h1>Ecoutez - {{content.episode.title}} - {{content.name}}</h1>
     <div class="description">
       {{content.episode.image.tag_for_thumb}}
       {{content.episode.description | textilize | strip_tags | truncate :400}}
     </div>
     <div class="player" id="page">
       <h3>{{content.name}}</h3>
       {% if content.available? %}
       {{ content.embedded_player_started }}
       <p class="broadcast"><a href="{{content.url_for_playlist}}" title="Ecoutez avec votre lecteur audio préféré">Ecoutez avec votre lecteur audio préféré &#8594;</a></p>
       {% else %}
       <p>Ce contenu n'est plus disponible pour <a href="http://blog.tryphon.org/alban/archives/2009/02/25/radio-esperanzah-2008-fin-de-mise-en-ligne/">des raisons de droits sur les illustrations musicales.</a></p> 
       {% endif %}
     </div>
	 </div>
 </body>
</html>