<html dir="ltr">
 <head>
   {% include 're2010/head' %}
   <title>{{ episode.title }} - Radio Esperanzah! 2010</title>
 </head>
 <body class="episode">
  {% include 're2010/header' %}
  <div id="global">
   <div id="box">
    <div id="breadcrumb">
     <p>Où suis-je ?
       <span class="breadcrumbs pathway">
         <a href="{{ show.url_for }}" class="pathway">Radio Esperanzah!</a> - {{ episode.title }}
       </span>
     </p>
    </div>
    <div id="menu">
     <ul id="main-menu">
      <li class="item1">
       <a href="{{ show.url_for }}"><span>Accueil</span></a>
      </li>
     </ul>
    </div>
    <div id="content">
     <div id="contentarea2"><a name="content"></a>
      <div id="wrapper">
       <div id="main2">
        <h1 class="componentheading">{{ episode.title }}</h1>
        <div class="description">
        {{ episode.image.tag }}
        {{ episode.description|textilize }}
        </div>
        <div id="listen">
      {% unless episode.contents == empty %}
 	     <h3>Ecoutez</h3>
   	   {% for content in episode.contents %}
	      <div class="audio" id="audio-{{forloop.index}}">
	       <h4><a href="{{content.url_for}}" onclick="window.open('{{content.url_for}}','bonnes-ondes-{{content.id}}','height=300,width=750');return false;">{{content.name}}</a></h4>
	       {% if content.duration %}
          <p class="duration">Durée: {{content.duration}} minutes</p>
         {% endif %}
	      </div>
	     {% endfor %}
	    {% else %}
       <p>
        {% if episode.broadcasted_at > now %}
         Ecoutez en direct cette émission {{episode.broadcasted_at | prettydate }}
        {% else %}
         {% unless episode.tags contains 'live' %}
          Retrouvez prochainement le contenu de ce programme
         {% endunless %}
        {% endif %}
       </p>
      {% endunless %}
     </div>
			 </div>
      </div>
     <div id="right">
      {% include 're2010/sidebar' %}
     </div>
    </div>
    <div id="poupee-sax"></div>
    <div id="poupee-bras"></div>
    <div id="menu-left"></div>
    <div id="menu-right"></div>
    <div id="feuille"></div>
   </div>
   <div id="partners"></div>
  </div>
  {% include 're2010/footer' %}
 </body>
</html>
